[data_set]
train_data=/home/fantasy/MachineLearning/project/spiders/downloads/train
test_data=/home/fantasy/MachineLearning/project/spiders/downloads/test

[model]
save_path=/home/fantasy/MachineLearning/project/spiders/classify.model

[image]
height=128
width=128
classes = 3

[train]
batch_size=50
epochs=500

[email]
account=83361335@qq.com
key=xjrmfwuzrxhjcaea
host=smtp.qq.com
recv_account=228826582@qq.com
title=模型训练完毕!
